**/bin/
**/obj/
**/.settings/
**/.DS_Store
**/gen/
**/.cproject
**/.project
**/tags
**/*.iml
**/*.idea/
.gradle
**/gradle
**/build/
**/release/
**/local.properties
**/.vscode
**/.classpath
**/*.pdb
**/*.user
dist/
packages/
rtc_common
.repo/
repo
**/.vs/
**/log.txt
**/version.properties

